.inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

body {
    width: 90%;
    background: rgb(0, 0, 0);
}

/* nav-section */

*{
    margin: 0;
}

.nav-container {
    width: 95%;
    margin: 5rem auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.nav-info {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    cursor: pointer;
}

#fitness {
    color: rgb(230, 83, 60);
    font-family: inter;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    margin-left: 8rem;
}

.home {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    height: 2rem;
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}